
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.router-link-exact-active{
  background: rgba(0,0,0,.04);
  display: block;
}
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
.router-link-active:hover, .v-navigation-drawer a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}
.router-link-active{
  color: rgba(0, 0, 0, 0.87);
}